# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# Rust
native/target/
native/**/target/
**/*.rs.bk

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Generated
lib/src/rust/
native/src/frb_generated.rs
